.xylo-button{
    margin: 8px;
    height: 52px;
    width: 100%;
    border: solid;
    border-color: white;
    border-radius: 10px;
}
body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}
.xylo-button:hover {
    color: white;
    border: outset;
}
img{
    padding-top: 5px;
}